

<header>
    <div class="container">
        <div class="logo">
            <picture>
                <img src="images/logo.svg" alt="Cool picture lul">
            </picture>
        </div>
        <nav>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Product" asp-action="Index">Products</a></li>
                <li><a asp-controller="Contact" asp-action="Index">Contact</a></li>
                <li><a asp-controller="Login" asp-action="Index">Login</a></li>
            </ul>
        </nav>
    </div>
</header>

<section class="heroforsta">
    <div class="container">
        <div class="content">
            <div class="titles">
                <p class="title-2">WELCOME TO BMARKETO SHOP</p>
                <p class="title-1">Exclusive Chair gold Collection.</p>
                <a class="button" asp-controller="Product" asp-action="Index">Shop now</a>
            </div>
        </div>
        <div class="herocontainer">
            <img src="images/Add your image here.png" alt="lul">
        </div>
    </div>
</section>

<section class="frontpage">
    <h2>Best collection</h2>
    <br>
    <p class="mjau">All ⁄ Bags ⁄ Dress ⁄ Decoration ⁄ Essentials ⁄ Interior ⁄ Laptop ⁄ Mobile ⁄ Beauty</p>
    <div class="common">
        <div class="container">
            <div class="favs">
                <div class="squares-picture">
                    <img src="images/lillen.png" alt="abc">
                </div>
                <div class="squares-info">
                   @* <h4 class="title">@Model.ProductModel.Name</h4>
                    <h3 class="age">@Model.ProductModel.Price</h3>*@
                </div>
            </div>
            <div class="favs">
                <div class="squares-picture">
                    <img src="images/lillen.png" alt="abc">
                </div>
                <div class="squares-info">
                    <@*h4 class="title">@Model.ProductModel.Name</h4>
                    <h3 class="age">@Model.ProductModel.Description</h3>*@
                </div>
            </div>
            <div class="favs">
                <div class="squares-picture">
                    <img src="images/lillen.png" alt="abc">
                </div>
                <div class="squares-info">
                    @*<h4 class="title">@Model.ProductModel.Description</h4>
                    <h3 class="age">@Model.ProductModel.Price</h3>*@
                </div>
            </div>
            <div class="favs">
                <div class="squares-picture">
                    <img src="images/lillen.png" alt="abc">
                </div>
                <div class="squares-info">
                    @*<h4 class="title">@Model.ProductModel.Description</h4>
                    <h3 class="age">@Model.ProductModel.Name</h3>*@
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="favs">
                <div class="squares-picture">
                    <img src="images/lillen.png" alt="abc">
                </div>
                <div class="squares-info">
                    @*<h4 class="title">@Model.ProductModel.Description</h4>
                    <h3 class="age">@Model.ProductModel.Price</h3>*@
                </div>
            </div>
            <div class="favs">
                <div class="squares-picture">
                    <img src="images/lillen.png" alt="abc">
                </div>
                <div class="squares-info">
                    <@*h4 class="title">@Model.ProductModel.Name</h4>
                    <h3 class="age">@Model.ProductModel.Price</h3>*@
                </div>
            </div>
            <div class="favs">
                <div class="squares-picture">
                    <img src="images/lillen.png" alt="abc">
                </div>
                <div class="squares-info">
                    @*<h4 class="title">@Model.ProductModel.Description</h4>
                    <h3 class="age">@Model.ProductModel.Price</h3>*@
                </div>
            </div>
            <div class="favs">
                <div class="squares-picture">
                    <img src="images/lillen.png" alt="abc">
                </div>
                <div class="squares-info">
                   @* <h4 class="title">@Model.ProductModel.Name</h4>
                    <h3 class="age">@Model.ProductModel.Price</h3>*@
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="knappenimitten">
        <button>LOAD MORE</button>
    </div>
</div>

<div class="frontpage2">
    <div class="common">
        <div class="container">
            <div class="favs">
                <div class="squares-picture">
                    <img src="images/storalillen.png" alt="abc">
                </div>
                <div class="squares-info">
                    <h4 class="title">Table Lamp - scelerisque tempore</h4>
                    @*<h3 class="age">@Model.ProductModel.Price</h3>*@
                </div>
            </div>
            <div class="favs">
                <div class="squares">
                    <p class="title-2">UP TO SELL</p>
                    <p class="title-1">50% off</p>
                    @*<h4 class="title">@Model.ProductModel.Name</h4>
                    <h3 class="age">@Model.ProductModel.Price</h3>*@
                </div>
            </div>
            <div class="favs">
                <div class="squares-picture">
                    <img src="images/storalillen.png" alt="abc">
                </div>
                <div class="squares-info">
                    <h4 class="title">Table Lamp - scelerisque tempore</h4>
                    @*<h3 class="age">@Model.ProductModel.Price</h3>*@
                </div>
            </div>
        </div>
    </div>
</div>

<section class="frontpage">
    <h2>Top selling products in (english entered the chat again) this week</h2>
    <div class="common">
        <div class="container">
            <div class="favs">
                <div class="squares-picture">
                    <img src="images/lillen.png" alt="abc">
                </div>
                <div class="squares-info">
                    @*<h4 class="title">@Model.ProductModel.Name</h4>
                    <h3 class="age">@Model.ProductModel.Price</h3>*@
                </div>
            </div>
            <div class="favs">
                <div class="squares-picture">
                    <img src="images/lillen.png" alt="abc">
                </div>
                <div class="squares-info">
                    @*<h4 class="title">@Model.ProductModel.Name</h4>
                    <h3 class="age">@Model.ProductModel.Price</h3>*@
                </div>
            </div>
            <div class="favs">
                <div class="squares-picture">
                    <img src="images/lillen.png" alt="abc">
                </div>
                <div class="squares-info">
                    @*<h4 class="title">@Model.ProductModel.Name</h4>
                    <h3 class="age">@Model.ProductModel.Price</h3>*@
                </div>
            </div>
            <div class="favs">
                <div class="squares-picture">
                    <img src="images/lillen.png" alt="abc">
                </div>
                <div class="squares-info">
                    @*<h4 class="title">@Model.ProductModel.Name</h4>
                    <h3 class="age">@Model.ProductModel.Price</h3>*@
                </div>
            </div>
            <div class="favs">
                <div class="squares-picture">
                    <img src="images/lillen.png" alt="abc">
                </div>
                <div class="squares-info">
                   @* <h4 class="title">@Model.ProductModel.Name</h4>
                    <h3 class="age">@Model.ProductModel.Price</h3>*@
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="favs">
            <div class="squares-picture">
                <img src="images/storalillen.png" alt="abc">
            </div>
            <div class="squares-info">
                <h4 class="title">Table Lamp - scelerisque tempore</h4>
                @*<h3 class="age">@Model.ProductModel.Price</h3>*@
            </div>
        </div>
        <div class="favs">
            <div class="squares-picture">
                <img src="images/storalillen.png" alt="abc">
            </div>
            <div class="squares-info">
                <h4 class="title">Table Lamp - scelerisque tempore</h4>
                @*<h3 class="age">@Model.ProductModel.Price</h3>*@
            </div>
        </div>
        <div class="favs">
            <div class="squares-picture">
                <img src="images/storalillen.png" alt="abc">
            </div>
            <div class="squares-info">
                <h4 class="title">Table Lamp - scelerisque tempore</h4>
                @*<h3 class="age">@Model.ProductModel.Price</h3>*@
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="knappenimitten">
        <button>LOAD MORE</button>
    </div>
</div>

<section class="mailme">
    <h3>Want me to contact you?</h3>
    <p>Gief mail and I'll send you more info!</p>
    <form>
        <input type="email" name="email" placeholder="Your email...">
        <button type="submit">Send it</button>
    </form>
</section>

<footer>
    <div class="copyright-text">
        &copy; 2023 bmerketo. All Rights Reserved.
    </div>
</footer>